.cloudmeter {
  height: 100%;

  .cloudmeter-nav {
    --pf-c-page__header--MinHeight: 58px;
    .pf-c-dropdown .pf-c-dropdown__toggle {
      --pf-c-dropdown__toggle-icon--MarginLeft: 10px;
    }

    .pf-c-dropdown .pf-c-dropdown__menu-item:hover {
      color: $color-pf-black;
    }
  }

  .cloudmeter-breadcrumb {
    --pf-c-breadcrumb__link--FontWeight: var(--pf-global--FontWeight--normal);
    --pf-c-breadcrumb__item--FontWeight: var(--pf-global--FontWeight--normal);
  }

  .cloudmeter-app-header {
    background: $color-pf-white;
    padding: 0 var(--pf-c-page__main-section--PaddingRight) 0 var(--pf-c-page__main-section--PaddingLeft);
  }

  .container-fluid .toolbar-pf {
    .col-sm-12 {
      padding: 0;
    }

    .toolbar-pf-actions,
    .toolbar-pf-results {
      background: $color-pf-white;
      padding: 0 var(--pf-c-page__main-section--PaddingRight) 0 var(--pf-c-page__main-section--PaddingLeft);

      .col-sm-12 {
        padding: 0 20px;
      }
    }
  }

  .blank-slate-pf {
    background-color: inherit;
  }
}

.pf-c-page__main .cloudmeter-page-section {
  padding: 0;
}

.form-group.btn-group {
  display: inline;
}

.cards-pf {
  --pf-global--FontSize--md: 13px;
}

.pf-c-backdrop .pf-l-bullseye .pf-c-about-modal-box .pf-c-about-modal-box__hero {
  background-image: url('images/pfbg_992.jpg');
}
