.cloudmeter-sources-popover-scroll {
  .popover-content {
    max-height: 80px;
    overflow-y: auto;
  }
}

.cloudmeter-popover-list {
  margin-bottom: 5px;
  padding-bottom: 0;
  padding-left: inherit;
}
